@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /*// root 16px * 0.625 == 10px */
}

body {
    height: 100vh;
    font-family: 'urbanist', sans-serif;
}


.headcomp {
    font-size: 42px;
    width: 430px;
    height: 150px;
    line-height: 50.4px;
    letter-spacing: -1%;
    font-weight: 700;
}


.infoText {
    font-size: 18px;
    width: 382px;
    height: 180px;
    font-weight: 400;
    line-height: 28px;


}

.ctus{
    width: 302px;
    height: 44px;
    radius: 5px;
    border: 1px;

}

.lay {
    width: 700px;
    height: 874px;
}

main{
    display: flex;
}

.right {
    margin-left: 7vw;
    margin-top: 7vh;
}